@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

#root {
  margin: 0 auto;
  max-width: 44rem !important;
  min-width: 20rem !important;
  min-height: 100vh !important;
  background-color: #efeae1; /* Main background color */
  color: #000000; /* Black text */
}
